
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'playfair';
  src: url("./fonts/webfontkit/playfairdisplay-bold-webfont.eot");
  src: url("./fonts/webfontkit/playfairdisplay-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("./fonts/webfontkit/playfairdisplay-bold-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/playfairdisplay-bold-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/playfairdisplay-bold-webfont.svg#playfair_displaybold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'playfair';
  src: url("./fonts/webfontkit/playfairdisplay-bolditalic-webfont.eot");
  src: url("./fonts/webfontkit/playfairdisplay-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/playfairdisplay-bolditalic-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/playfairdisplay-bolditalic-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'playfair';
  src: url("./fonts/webfontkit/playfairdisplay-italic-webfont.eot");
  src: url("./fonts/webfontkit/playfairdisplay-italic-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/playfairdisplay-italic-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/playfairdisplay-italic-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/playfairdisplay-italic-webfont.svg#playfair_displayitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'playfair';
  src: url("./fonts/webfontkit/playfairdisplay-regular-webfont.eot");
  src: url("./fonts/webfontkit/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/playfairdisplay-regular-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/playfairdisplay-regular-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/playfairdisplay-regular-webfont.svg#playfair_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("./fonts/webfontkit/raleway-light-webfont.eot");
  src: url("./fonts/webfontkit/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/raleway-light-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/raleway-light-webfont.ttf") format("truetype"),
       url("./fonts/webfontkit/raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("./fonts/webfontkit/raleway-lightitalic-webfont.eot");
  src: url("./fonts/webfontkit/raleway-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/raleway-lightitalic-webfont.woff") format("woff"),
       url("./fonts/webfontkit/raleway-lightitalic-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/raleway-lightitalic-webfont.svg#ralewaylight_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'raleway';
  src: url("./fonts/webfontkit/raleway-medium-webfont.eot");
  src: url("./fonts/webfontkit/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/raleway-medium-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/raleway-medium-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("./fonts/webfontkit/raleway-mediumitalic-webfont.eot");
  src: url("./fonts/webfontkit/raleway-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), 
       url("./fonts/webfontkit/raleway-mediumitalic-webfont.woff") format("woff"), 
       url("./fonts/webfontkit/raleway-mediumitalic-webfont.ttf") format("truetype"), 
       url("./fonts/webfontkit/raleway-mediumitalic-webfont.svg#ralewaymedium_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

/*Aloha CSS code*/
* {
    box-sizing: border-box;
    outline: none; }

body {
    color: #2d2d2d;
    width: 100%;
    font-family: "raleway", sans-serif;
    font-weight: normal;
    font-style: normal; 
    }

.container {
    margin: 0 auto;
    width: 100%;
    height: auto; 
    }

.screen-reader {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
     }

header {
     width: 95%;
     margin: 0 auto;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding: 10px 0 0 0; 
     }

     @media (min-width: 1240px) {
     header {
     flex-wrap: nowrap;
     width: 80%; } 
     }

     header .alohaLogo {
     flex: 1 1 50%;
     align-self: flex-start;
     order: 1;
     padding-bottom: 10px; 
     }

     @media (min-width: 600px) {
     header .alohaLogo {
     flex-basis: 25%;
     padding-bottom: none; } 
     }

     @media (min-width: 1240px) {
     header .alohaLogo {
     flex-basis: 20%; } 
     }

     header .alohaLogo img {
     max-width: 120px;
     height: auto; }

     @media (min-width: 600px) {
     header .alohaLogo img {
     max-width: 140px; } 
     }

     header .navigationMenu {
     flex: 1 1 50%;
     align-self: center;
     order: 3;
     text-align: center;
     border-top: 1px solid #d7d7d7;
     }

     @media (min-width: 600px) {
     header .navigationMenu {
     order: 2;
     flex-basis: 50%;
     border-top: none; }
     }

     header .navigationMenu ul {
     padding-top: 4%;
     padding-bottom: 3%;
     text-align: center; }

     header .navigationMenu ul a {
     color: #e2574c;
     text-decoration: none; }

     header .navigationMenu ul:hover {
     color: #b64036; }

     header .navigationMenu ul li {
        display: inline-block;
        font-size: 0.9rem;
        text-decoration: none;
        margin-right: 4%;
        text-transform: uppercase;
        font-weight: bold; }

        @media (min-width: 1240px) {
        header .navigationMenu ul li {
        font-size: 1rem; } 
        }

     header .cart {
     flex: 1 1 50%;
     align-self: flex-end;
     order: 2;
     text-align: right;
     padding-bottom: 10px;
     position: relative; }

     @media (min-width: 600px) {
      header .cart {
      order: 3;
      flex-basis: 20%;
      padding-bottom: none; } }
  
     header .cart img {
      max-width: 45px;
      height: auto; }

      @media (min-width: 600px) {
      header .cart img {
      max-width: 55px; }
      }

/*banner section*/
.alohaBanner {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      height: 400px;
      background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
      url("./images/banner-girl.png") no-repeat center center,
      url("./images/flower-bkgd.jpg") repeat-x center top;
      background-size: contain, contain, cover;
      background-position-y: 0px, 55px, 0px; 
      }

      @media (min-width: 600px) {
      .alohaBanner {
      height: 550px; } 
      }

      @media (min-width: 1240px) {
      .alohaBanner {
      background-size: cover, 250px 615px, contain; } 
      }

     .textContainer {
      color: white;
      text-align: center;
      width: 95%;
      flex-direction: column;
      display: -ms-flexbox;
      display: flex;
      justify-content: center; 
      }

      /*NEW COLLECTION text */
      h2 {
      font-size: 1.1rem;
      font-family: "raleway", sans-serif;
      padding-bottom: 3%;
      text-transform: uppercase;
      font-weight: bold;
      font-style: normal;
      text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
      }

      @media (min-width: 600px) {
      h2 {
      font-size: 1.25rem; } 
      }

      /*spring-summer text*/
      h3 {
      font-size: 2.5rem;
      font-family: "playfair", serif;
      font-weight: normal;
      font-style: normal;
      text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
      }
      @media (min-width: 600px) {
      h3 {
      font-size: 3.5rem; } 
      }


      /*handCrafter section */
.handCrafted {
       text-align: center;
       margin: 50px 0; 
       }

       .handCrafted h4 {
       font-family: "playfair", serif;
       font-size: 2.2rem;
       font-weight: normal;
       font-style: italic;
       padding-bottom: 1rem;
       }

       .handCrafted h4 span {
       font-weight: bold;
       font-style: normal; 
       }

       .handCrafted p {
       width: 90%;
       display: block;
       margin: 0 auto; 
       font-size: 16px;
       line-height: 2.25;
       color: #2d2d2d;
       font-family: 'raleway';
       font-weight: normal;
       padding-top: 1%; }
       



       @media (min-width: 600px) {
      .handCrafted p {
       width: 70%; } 
       }

       @media (min-width: 1240px) {
      .handCrafted p {
       width: 45%; } 
       }

       /*product section*/
.productline {
       display: flex;
       flex-flow: row wrap; 
       }
       .productline div {
       box-sizing: border-box;
       border: 2px solid white;
        }
       .productline div .product-name {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       display: -ms-flexbox;
       display: flex; 
       }
       .productline div .product-name a {
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: "raleway", sans-serif;
        font-style: normal;
        text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8); 
        }

        @media (min-width: 600px) {
        .productline div .product-name a {
         font-size: 2rem; }
        }

        .productline div .product-name a:hover {
        color: #e5dba7; 
        }

        .productline .wide {
        width: 100%;
        position: relative; 
        }

       .productline .wide::before {
        content: "";
        display: block;
        padding-top: 50%; 
        }

        @media (min-width: 600px) {
        .productline .wide {
         flex-basis: 50%; } 
         }

        .productline .narrow {
        width: 50%;
        position: relative;
         }

       .productline .narrow::before {
        content: "";
        display: block;
        padding-top: 100%; 
        }

       @media (min-width: 600px) {
      .productline .narrow {
       flex-basis: 25%; } 
       }

      .productline .mens {
       background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
       url("./images/mens-category.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       align-items: center;
       }

       .productline .trends {
       background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
       url("./images/trends-category.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       align-items: center; 
       }

      .productline .glasses {
       background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), 
       url("./images/glasses-category.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       align-items: center; 
       }

      .productline .sale {
       background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), 
       url("./images/sale-category.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       align-items: center; 
       }

       .productline .bags {
        background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
        url("./images/bags-category.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: center;
        }

       .productline .womens {
        background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
        url("./images/womens-category.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: center; }

/*mostLoved section*/
.mostLoved {
        text-align: center;
        margin-bottom: 5%;
        }
        .mostLoved h4 {
        font-family: "playfair", serif;
        font-size: 2.2rem;
        font-weight: normal;
        font-style: italic;
        padding-bottom: 1rem; 
        }
        .mostLoved h4 span {
        font-weight: bold;
        font-style: normal; 
        }
        .mostLoved .container {
        padding: 5%; 
        }
        .mostLoved p {
        padding-top: 5%;
        text-transform: uppercase;
        color: #969696;
        font-size: 0.75rem;
        font-weight: bold;
         }
       .mostLoved h5 {
        font-size: 1.3rem;
        font-family: "playfair", serif;
        text-transform: capitalize;
        color: #e2574c; 
        font-weight: normal;
        }

        .mostLoved .carousel {
         width: 90%;
         position: relative;
         margin: 0 auto;
         padding-bottom: 5%; 
        
         }
         .mostLoved .carousel img {
         width: 90%; }

         @media (min-width: 600px) {
        .mostLoved .carousel img {
          width: 70%; }
         }

        .mostLoved .carousel .flickity-prev-next-button .arrow {
         visibility: hidden;
         }
        .mostLoved .carousel .carousel-cell {
         margin-top: 50px;
         width: 100%;
         height: auto;
         text-align: center;
        
        }

         @media (min-width: 600px) {
         .mostLoved .carousel .carousel-cell {
         width: 50%; } 
        }

         @media (min-width: 1240px) {
         .mostLoved .carousel .carousel-cell {
         width: 25%; }
         }

         
       /*signup section*/
.signup {
        display: flex;
        align-items: center;
        height: 355px;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), 
        url("./images/wave-bkgd.jpg") no-repeat center bottom;
        background-position-y: -510px;
        }
       .signup h4 {
       font-family: "playfair", serif;
       font-size: 2.2rem;
       font-weight: normal;
       font-style: italic;
       padding-bottom: 1rem; 
       }
      .signup h4 span {
       font-weight: bold;
       font-style: normal; 
       }
      .signup .signupText {
       text-align: center;
       width: 100%;
       align-self: center; 
        }
    .signup .signupText p {
      width: 90%;
      font-size: 1rem;
      display: block;
      margin: 0 auto; 
      }
      @media (min-width: 600px) {
      .signup .signupText p {
      width: 70%; } 
      }

      @media (min-width: 1240px) {
      .signup .signupText p {
       width: 45%; } 
      }

     .signup .signupText h4, .signup .signupText p {
      color: white; 
      }

/*email form */
form {
      width: 100%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      position: relative; 
      }

     .signupForm {
      width: 80%;
      display: block;
      margin: 2rem auto 0;
      position: relative;
      border: 1px solid white;
      border-radius: 50px;
      background-color: white;
      padding: 10px;
      }

     .signupForm input[type=email] {
      padding: .5rem 1.75rem;
      padding-right: 150px;
      width: 100%;
      font-size: 0.9rem;
      font-family: "raleway", sans-serif;
      border: none; 
      }

      @media (min-width: 600px) {
      .signupForm {
      width: 55%; } 
      }

      @media (min-width: 1240px) {
      .signupForm {
      width: 40%; }
       }

      .signupForm button {
      background-color: #e2574c;
      border-radius: 50px;
      border: 1px solid #e2574c;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      line-height: 2.3;
      font-family: "raleway", sans-serif;
      cursor: pointer;
      padding: .25rem 1.5rem;
      position: absolute;
      right: .25rem;
      top: .19rem; 
      }

     .signupForm button:hover {
      background-color: #b64036; 
      }

/*footer */
footer {
      background-color: #242424;
      width: 100%;
      height: 250px;
      margin-top: 8px; }
      footer .container {
      padding-top: 10%;
      height: 245px;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
     flex-direction: column; 
     color:white;
     }

      .container {
      font-family: "playfair", serif;
      line-height: 1.5; 
      color:white;
      padding-left:5%;
      padding-right:5%;
      }

      @media (min-width: 600px) {
      .container  {
      font-size: 1rem; }
       }

      @media (min-width: 600px) {
      footer .container {
      width: 95%;
      -ms-flex-pack: justify;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin: 0 2%;
      padding-top: 0; } 
      }

     .contactInfo {
      text-align: center;
     display: flex;
     flex-direction: column;
      }
     footer .contactInfo a, footer .contactInfo p {
      /*color: white;*/
      padding-bottom: 1%; 
      }
     footer .contactInfo .address {
      color: #969696;
      font-size: 0.9rem;
      padding-top: 2%;
     }
      @media (min-width: 600px) {
      footer .contactInfo .address {
      font-size: 1rem; }
       }

    @media (min-width: 600px) {
      footer .contactInfo {
        text-align: left; } 
        }

    .socialMedia {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 10%; 
     color:white;
    }

    @media (min-width: 600px) {
      .socialMedia {
       align-items: stretch;
       justify-content: flex-end;
        padding-top: 0;
         }
       .socialMedia ul {
       color:white;
       list-style: none;
       line-height: 1.5;
       text-align: left; } 
          }

    .socialMedia li {
      color:white;
      display: inline-block;
      padding-bottom: 5%;
     }

      @media (min-width: 600px) {
        .socialMedia li {
          display: block; }
           }

      .socialMedia li a {
        text-decoration: none; 
        }

      .socialMedia li  {
        font-size: 0;
        color: white;
        font-family: "raleway", sans-serif; 
        }

        @media (min-width: 600px) {
          .socialMedia li  {
            font-size: 1rem; } 
            }

      .socialMedia li i {
        display: inline; 
        color:white;
        }
        .socialMedia li i:hover {
          color: #e2574c; 
          }
      .socialMedia li .fa {
        font-size: 1rem;
        margin-right: 10px; }

		









